body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: aqua;
    height: 100vh;
}

.stove{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: black;
}
.stove > .plates1{
    background-color: #fff;
    grid-column: span 2;
    text-align: center;
    font-size: 35px;
    padding: 40%;
    border-radius: 30px;
    align-items: center;
}
.stove > .plates2{
    background-color: #fff;
    grid-column: span 2;
    text-align: center;
    font-size: 35px;
    padding: 40%;
    border-radius: 30px;
    align-items: center;
}
.stove > .plates3{
    background-color: #fff;
    grid-column: span 2;
    text-align: center;
    font-size: 35px;
    padding: 40%;
    border-radius: 30px;
    align-items: center;
}
.stove > .plates4{
    background-color: #fff;
    grid-column: span 2;
    text-align: center;
    font-size: 35px;
    padding: 40%;
    border-radius: 30px;
    align-items: center;
}

.stove > .key {
    display: inline-block;
    height: 20px;
    min-width: 25px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    row-gap: 15px;
    margin-top: 20px;
}

.stove > .key.green{
    background-color: green;
}
.stove > .plates1.active{
    background-color: rgba(255, 208, 0, 0.795);
}
.stove > .plates2.active{
    background-color: rgba(255, 208, 0, 0.795);
}
.stove > .plates3.active{
    background-color: rgba(255, 208, 0, 0.795);
}
.stove > .plates4.active{
    background-color: rgba(255, 208, 0, 0.795);
}

.stove > .key::before{
    content:attr(data-symbol);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






