body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: aqua;
    height: 100vh;
}

.stove{
    display: inline-block;
    width: 300px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: black;
}
.stove > .plates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 35px;
    color: #fff;
}

.stove > .plates > div{
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    padding: 40%;
    background-color: gray;
    border-radius: 50%;
    position: relative;
}

.stove > .plates > div.active{
    background-color: red;
}

.stove > .switches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    margin-top: 25px;
}

.stove > .switches > div {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    grid-column: span 2;
    width: 60px;
    height: 30px;
    border: 2px solid red;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.stove > .switches > div.green{
    background-color: green;
}


.stove > .plates > div::before{
    content:attr(data-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stove > .switches > div::before{
    content:attr(data-button);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






